table{
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    position: absolute;
    top: 30%;
    left: 15%;
  }
  td,
  th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even){
    background-color: #dddddd;
  }
  /* .buttons{
    text-decoration: underline;
    cursor: pointer;
  }
  .add{
    position:fixed;
    top: 15%;
    right: 2%;
    width: 7%;
    height: 6%;
    background-color: rgb(94,177, 245);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
  }
  .add:hover{
    background-color: rgb(74,103,228);
    color: rgb(255,255,255);
  } */
  